/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
 /*begin custom CSS*/
 *{box-sizing: border-box}

body{
     background-color: #c4d8ed;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: "hermes-fb", sans-serif;
    font-weight: 300;
}

h1{
    font-size: 40px;
    text-align: center;
    font-family: "blakely", sans-serif;
    letter-spacing: 2.5px;
    color:black
}

h2{
    font-size: 16px;
    text-align: center;
    font-family: "hermes-fb", sans-serif;
    color: black
}

h3{
    font-weight: bold;
    font-size: 24px;
    font-family: "blakely", sans-serif;
    color: #385623;
}

a{
    font-family: "hermes-fb", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #4b77a0;
}

header{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

footer a{
    color: white;
    margin-left: 5px;
}

footer a:visited{
    color: white;
}

footer p{
    color: white;
}

.title{
    margin-top: 125px;
    z-index: 2;
}

.title-section{
    display: flex;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    position: relative;
}

.avatar-icon{
    background-image: url('assets/avatar-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.left-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 302px;
    width: 251px;
    background-image: url('./assets/small-left.png');
    background-repeat: no-repeat;
}

.right-image{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 250px;
    background-image: url('./assets/small-right.png');
    background-repeat: no-repeat;
}

.divider{
    height: 50px;
    width: 100%;
    background-color: #202F3D
}

section{
    min-height: 200px;
}

section:nth-child(even){
    background-color: #FFF;
    border-top: solid 4px #202F3D;
    border-bottom: solid 4px #202F3D;
}

.subsection{
    position: relative;
    display: flex;
}

.about-me{
    border-top: solid 0;
}

.profile-pic{
    position: absolute;
    top: -25px;
    left: 25px;
    height: 200px;
    width: 160px;
}

img{
    height: 100%;
    width: 100%;
}

.contact-buttons{
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 200px;
}

button{
    height: 50px;
    width: 50px;
    background-color: #E1F1FF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(32,47,61,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(32,47,61,1);
    box-shadow: 0px 0px 5px 0px rgba(32,47,61,1);
    margin-left: 5px;
    margin-bottom: 25px;
}

.email{
    background-image: url('./assets/email.png');
}

.email:hover{
    background-image: url('./assets/email-active.png');
}

.github{
    background-image: url('./assets/github.png');
}

.github:hover{
    background-image: url('./assets/github-active.png');
}

.linkedin{
    background-image: url('./assets/linkedin.png');
}

.linkedin:hover{
    background-image: url('./assets/linkedin-active.png');
}

.contact{
    background-repeat: no-repeat;
    background-position: center;
}

.profile-body{
    display: flex;
    flex-direction: column-reverse;
}

.profile-info{
    margin: 25px;
}

.app-section{
    flex-direction: column-reverse;
    margin: 25px;
}

.app-image{
    margin-bottom: 25px;
}

.app-description{
    display: flex;
    flex-direction: column;
}

.app-stack{
    align-self: flex-end;
}

.money-jars-stack{
    width: 275px;
}

.something-new-stack{
    width: 150px;
}

.artist-connect-stack{
    width: 200px;
}

footer{
    height: 50px;
    background-color:#202F3D;
    width: 100%;
}

.butterfly{
    width: 75px;
    height: 75px;
    z-index: 10;
    position: absolute;
    animation: fly-in-left ease-in-out  4s 1;
    left: -40px;
    top: -50px;
}

.butterfly-animation{
    height: 100%;
    width: 100%;
    background-image: url('./assets/butterfly-right.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1100%;
    animation: flutter-wings .5s steps(10) 16;
}

@keyframes flutter-wings{
    from {background-position: left;}
    to {background-position: right;}
}

@keyframes fly-in-left{
    0%{
        left: -400px;
        top: 200px;
    }

    10%{
        left: -50px;
        top: 150px;
    }

    15%{
        left: -45px;
        top: 140px;
    }

    25%{
        left: -30px;
        top: 100px;
    }

    50%{
        left: 10px;
        top: 50px;
    }

    80%{
        left: 20px;
        top: -80px;
    }

    100%{
        left: -40px;
        top: -50px;
    }
}

@media only screen and (min-width: 350px){
    .money-jars-stack{
        width:300px;
    }
}

@media only screen and (min-width: 500px){
    header{
        height: 500px;
    }

    .left-image{
        top: 50px;
        left: 50px;
    }

    .right-image{
        bottom: 50px;
        right: 50px;
    }

    .title{
        margin-top: 175px;
    }

    h1{
        font-size: 50px;
    }

    .profile-body{
        flex-direction: row-reverse;
    }

    .something-new-image{
        height: 500px;
        width: 532px;
        margin-top: -75px;
        margin-right: 50px;
    }

    .money-jars-image{
        margin-left: 50px;
        width: 500px;
        height: 242px;
        align-self: flex-end;
        margin-top: 50px;
    }

    .artist-connect-image{
        width: 500px;
        height: 290px;
        margin-right: 50px;
        margin-top: 25px;
    }

    .artist-connect{
        padding-bottom: 0;
    }

    footer{
        padding-left: 50px;
    }

 }

 @media only screen and (min-width: 900px){
    header{
        height: 630px;
    }

    .left-image{
        background-image: url('./assets/medium-left.png');
        height: 500px;
        width: 500px;
    }

    .right-image{
        background-image: url('./assets/medium-right.png');
        height: 501px;
        width: 550px;
    }

    .artist-connect{
        flex-direction: row-reverse;
    }

    .money-jars{
        flex-direction: row;
    }

    .something-new{
        flex-direction: row-reverse;
    }

    .family-reunion{
        flex-direction: row;
    }

    .app-section{
        margin: 50px;
        padding: 50px 25px 25px 25px;
    }

    .app-description{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 25px;
    }

    .butterfly{
        height: 100px;
        width: 100px;
        left: -50px;
        top: -60px;
    }

    @keyframes fly-in-left{
        0%{
            left: -600px;
            top: -300px;
        }
    
        25%{
            left: -200px;
            top: -250px;
        }

        30%{
            left: -190px;
            top: -240px;
        }
    
        45%{
            left: -150px;
            top: -180px;
        }
    
        60%{
            left: -10px;
            top: -160px;
        }
    
        80%{
            left: 10px;
            top: -120px;
        }
    
        100%{
            left: -50px;
            top: -60px;
        }
    }


    .title{
        margin-top: 250px;
    }

    h1{
        font-size: 72px;
    }

    .avatar-icon{
        height: 75px;
        width: 75px;
    }
    
    h2{
        font-size: 22px;
    }

    .something-new-stack{
        padding-bottom: 50px;
    }

    .money-jars-image{
        align-self: flex-start;
    }

    .family-reunion-image{
        margin-left: 50px;
        height: 369px;
        width: 519px;
    }
 }

 @media only screen and (min-width: 1000px){
     .subsection{
         width: 980px;
         margin: 0 auto;
     }
 }

 @media only screen and (min-width: 1400px){
     header{
         height: 700px;
     }

     .left-image{
        height: 611px;
        width: 751px;
        background-image: url('./assets/large-left.png');
     }

     .right-image{
         height: 618px;
         width: 751px;
         background-image: url('./assets/large-right.png');
         right:0;
     }

     .butterfly{
         height: 125px;
         width: 135px;
         left: -70px;
         top: -80px;
     }

     @keyframes fly-in-left{
        0%{
            left: -600px;
            top: -300px;
        }
    
        20%{
            left: -400px;
            top: -250px;
        }
    
        40%{
            left: -250px;
            top: -180px;
        }
    
        55%{
            left: -180px;
            top: -210px;
        }
    
        80%{
            left: -80px;
            top: -120px;
        }
    
        100%{
            left: -70px;
            top: -80px;
        }
    }
 }